@page "/"
@using CarApi.Domain.Entities
@inject HttpClient HttpClient

@if (Cars is null || !Cars.Any())
{
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" alt="Loading..." />
    </div>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var car in Cars) 
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@car.ImageUrl" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title">@car.Make @car.Model</h5>
                            <p class="card-text">Price: $@car.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    List<Car> Cars = new List<Car>();
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Requesting...");
        await Task.Delay(2000);
        Cars = await HttpClient.GetFromJsonAsync<List<Car>>("Cars");
        Console.WriteLine("Request End!");
        await base.OnInitializedAsync();
    }
}