<h1>Add Product Page</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Enter Name of Product</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="productName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>