@using Productify.Domain.Entities;
@model List<Product>

 <h1>Product List Table</h1>
<div class="container mt-5"> 
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">CreatedOn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.CreatedOn</td>
            </tr>
            }
        </tbody>
    </table>
</div>